.contentarea {
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    text-align: center;
}

#video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width:320px;
    height:240px;
    margin: 0 auto;
}

#photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width:320px;
    height:240px;
    margin: 0 auto;
}

#canvas {
    display:none;
}

.camera {
    width: 340px;
    margin: 0 auto;
}

.output {
    width: 340px;
    display:inline-block;
}

#photo {
    display:none;
    text-align: center;
}

#startcontrols {
    display:inline-block;
    text-align: center;
}

#sendcontrols {
    display:none;
    width: 50%;
    margin: 0 auto;
}

#messagelist {
    display:inline-block;
    text-align: center;
}